* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  color: #33475B;
}
/* [class^="credits-"], .credits, .credits .container, .credits .row,
.credits [class^="col-"]  {
  border: 1px solid #000;
} */
[class^="col-"] {
  float: left;
}
.col-100 {
  width: 100%;
}
.col-33 {
  width: calc((100% - 90px ) / 3);
  background-color: #fff;
  padding-bottom: 20px;
}
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.ml-45 {
  margin-left: 45px;
}
.ml-15 {
  margin-left: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.bg-white {
  background-color: #fff;
}
.header-socket {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid #000;
  line-height: 70px;
  z-index: 2;
  float: left;
}
.header-socket .container {
  height: 100px;
}
.language {
  font-weight: 600;
  float: left;
  padding: 12px 5px;
}
.language span {
  padding: 5px 10px;
}
.language span:first-child {
  padding-left: 0;
  border-right: 1px solid #000;
}
.fa-angle-down {
  font-size: 20px;
}
.fa-check-circle {
  color: #FE775A;
}
.login {
  float: right;
  line-height: 97px;
}
.login > div {
  margin-left: 20px;
  }
.btn {
  display: inline-block;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  padding: 0 8px;
}
.btn i {
  color: #00A4BD;
}
.bordered {
  border: 2px solid #FE775A;
  color: #FE775A;
  height: 43px;
  line-height: 43px;
}
.solid {
  border: 2px solid #FE775A;
  background-color: #FE775A;
  color: #fff;
}
.bigger {
  height: 50px;
  line-height: 50px;
}
nav {
  height: 100px;
  margin-top: 100px;
}
.nav-logo {
  display: inline-block;
  line-height: 100px;
}
.nav-logo img {
  vertical-align: middle;
}
.nav-links {
  font-weight: 700;
  float: right;
  line-height: 100px;
}
.nav-links ul  {
  display: inline-block;
}
.nav-links ul li {
  display: inline-block;
  padding-left: 40px;
}
main {
  background-color: #F4F9FD;
}
.jumbo {
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: calc(100vh - 200px);
  position: relative;
}
.jumbo-title, .jumbo-desc, .jumbo-bottom-text {
  width: 50%;
}
.jumbo-title {
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}
.jumbo-desc{
  font-weight: 600;
  margin-bottom: 50px;
}
.jumbo-text > .btn {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}
.jumbo-bottom-text {
  padding-top: 50px;
  font-size: 12px;
}
.jumbo-bar {
  height: 89px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  background-color: #AFEBE4;
  z-index: 1;

}
.information {
  text-align: center;
}
.teaser-image img {
  width: 25%;
}
.teaser-title, .teaser-text {
  padding: 10px 0;
}
.teaser-title {
  font-size: 30px;
  font-weight: bold;
}
.teaser-text {
  width: 70%;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 30px;
}
.round-corners {
  border-radius: 7px;
  box-shadow: 0 0 4px #E6ECF1;
}
.crm-image {
  float: left;
  width: 30%;
  padding: 50px;
}
.crm-image > div {
  display: block;
  width: 150px;
  margin: 0 auto;
}
.crm-image img {
  width: 150px;
}
.crm-text {
  float: left;
  width: 60%;
  text-align: left;
  padding-top: 45px;
  padding-left: 100px;
  font-weight: 600;
}
.crm-text p:nth-child(3){
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}
.crm-text span {
  float: right;
  width: 60%;
  line-height: 66px;
}
.crm-text hr {
  width: 100%;
  display: inline-block;
  border: 1px solid #33475B;
}
.crm-text > p:not(.crm-title)  {
  padding: 20px 0;

}
.crm-title {
  font-size: 25px;
  font-weight: 600;
}
.crm-text ul {
  display: inline-block;
}
.crm-text ul li {
  padding-right: 40px;
  display: inline-block;
}
#features {
  margin-top: 40px;
}
.card-img img {
  height: 150px;
}
.card-img {
  padding-top: 30px;
}
.card-title {
  font-size: 25px;
  font-weight: bold;
  padding: 30px 0;
}
.card-text {
  padding: 25px 15px;
  margin: 0 auto;
}
.card-sep {
  margin: 0 auto;
  width: 80%;
}
.card-list {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  text-transform: uppercase;
}
.card-list ul {
  text-transform: none;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  list-style: none;
  padding: 20px 0;
  padding-left: 30px;
}
.counters {
  margin-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  background-image:  linear-gradient(45deg, #00A4BC, #00BDA5);
  text-align: center;
}
.grid-title {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0;
}
.grid-subtitle {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}
.bb-1 {
  border-bottom: 1px solid #fff;
}
.bl-1 {
  border-left: 1px solid #fff;
}
.cell {
  width: 25%;
  float: left;
  padding: 25px 0;
}
.cell-img img {
  height: 33px;
}
.cell-counter {
  padding: 10px 0;
  font-size: 45px;
  font-weight: 900;
}
.cell-counter:after{
  font-weight: 200;
  content: "+";
}
.cell-desc {
  padding: 15px;
  font-size: 15px;
}
.credits {
  background-color: #fff;
  padding-top: 40px;
}
.credits-title, .credits-desc {
  width: 40%;
  padding-bottom: 20px;
  margin: 0 auto;
}
.credits-title {
  font-size: 50px;
  font-weight: bold;
}
.credits-desc {
  line-height: 25px;
}
.credits-logos:after {
  content: "";
  display: table;
  clear: both;
}
.credits-logos {
  width: 90%;
  padding: 30px 0;
  padding-left: 15px;
}
.credits-img {
  float: left;
  width: calc((100% - 45px) / 4);
}
.credits-img img {
  width: 150px;
}
.credits-title2 {
  padding-top: 50px;
  font-size: 35px;
  font-weight: bold;
}
.credits-subtitle {
  font-weight: 600;
  padding: 30px 0;
}
.credits-text {
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.woman-img img{
  float: right;
  width: 300px;
}
